.toast {
  font-size: inherit;
  max-height: 100%;
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
}

.toast-box {
  font-size: 0.875rem;
  color: var(--lightdark-color);
  background-color: rgba(15, 31, 47, 0.9);
  margin: 0 0 1rem;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px rgba(15, 31, 47, 0.7);
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  transition: opacity 256ms ease-in;
  background-clip: padding-box;
  pointer-events: auto;
  z-index: 50;

  /* background-clip: padding-box;
  width: 350px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 65px;
  right: 5px;
  min-width: 200px; */
}
/* .toast {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.25rem;
  color: rgb(248, 249, 250);
  position: fixed;
  top: 65px;
  right: 5px;
  z-index: 50;
  min-width: 200px;
} */

.toast-box.toast-box-hide {
  opacity: 0;
}
.toast-box:last-child {
  margin: 0;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  /* color: #6c757d; */
  color: rgb(248, 249, 250);
  /* background-color: rgba(255, 255, 255, 0.85); */
  /* background-color: rgba(15, 31, 47, 0.85); */
  background-clip: padding-box;
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(var(--border-radius) - 1px);
  border-top-right-radius: calc(var(--border-radius) - 1px);
}

.toast-header strong {
  margin-right: auto;
  font-weight: bold;
}

.toast-header [type="button"]:not(:disabled),
.toast-header button:not(:disabled) {
  cursor: pointer;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  margin-right: -0.375rem;
  margin-left: 0.75rem;
  color: var(--lightdark-color);
  background: transparent;
  border: 0;
  border-radius: var(--border-radius);
  opacity: 0.8;
}

.btn-close:hover {
  color: var(--primary-color);
}

.toast-header [type="button"],
.toast-header button {
  -webkit-appearance: button;
}

.toast-body {
  padding: 0.75rem;
  word-wrap: break-word;
}

.errMsg {
  background: rgb(214, 10, 10);
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
}

.successMsg {
  background: rgb(9, 158, 54);
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
}
