.footer {
  border-top: 1px solid var(--success-color);
  background: var(--dark-color);
  color: var(--lightdark-color);
  flex: 0 0 auto;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  font-size: 12px;
  padding: 25px 0;
}

.footer-rights {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  color: var(--light-color);
  margin-top: 1rem;
}

.footer-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.footer-left li {
  margin-right: 3rem;
}

.footer-left li a {
  text-decoration: none;
  color: var(--primary-color);
}

.footer-left li a:hover {
  color: var(--success-color);
  text-decoration: none;
}

.footer-language select {
  width: 100%;
  font-size: 12px;
  padding: 0 3.2rem 0 0.8rem;
  background: var(--dark-color);
  color: var(--primary-color);
  border: var(--border);
  border-color: var(--primary-color);
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0 1px var(--primary-color);
  transition: box-shadow 84ms cubic-bezier(0.34, 0, 0.21, 1);
  outline: none;
}

.footer-language select option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  background: transparent;
}

.profile-content .footer {
  color: var(--light-color);
  background-color: var(--dark-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.profile-content .footer-rights,
.profile-content .footer-language select {
  color: var(--light-color);
  background-color: var(--dark-color);
  /* background-color: var(--light-color);
  color: var(--fontdark-color); */
}

@media (min-width: 1012px) {
  .footer-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-rights {
    justify-content: space-between;
    margin: 0 auto;
    width: 16%;
  }
  .footer-left {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
