/* -------- Navbar --------- */
@import url("./navbar.css");
/* -------- Footer --------- */
@import url("./footer.css");

.notFound {
  position: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.notFound h2 {
  /* position: absolute; */
  color: rgb(108, 117, 125);
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}
