.home {
  display: flex;
  background: var(--dark-color);
  overflow: hidden;
  height: calc(100vh - var(--nav-size));
}

.home-left {
  flex-basis: 40%;
  display: flex;
  align-items: flex-end;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
}

.home-left h1 {
  font-size: 170px;
  line-height: 1;
  color: var(--dark-color);
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

@supports (-webkit-text-stroke: 1px var(--primary-color)) {
  .home-left h1 {
    -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: var(--dark-color);
    text-shadow: none;
  }
}

.home-right {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-white);
}

.timer {
  font-size: 7rem;
  font-weight: 550;
  padding: 2.5rem 0;
  color: var(--primary-color);
}
