:root {
  --primary-color: #ab915d;
  --light-color: #fdfdf7;
  --lightmiddle-color: #ece9d2;
  --lightdark-color: #e7e0b9;
  --success-color: #895602;
  --fontdark-color: #333;

  --darklight-color: #1e3957;
  --darkmiddle-color: #0a2749;
  --dark-color: #0f1f2f;
  --max-width: 1140px;

  --nav-size: 60px;
  --border: 1px solid #fdfdf7;
  --border-radius: 8px;
  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--fontdark-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--fontdark-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--lightdark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* -------- Global --------- */
@import url("./global.css");
/* -------- Auth --------- */
@import url("./auth.css");
/* -------- Loading --------- */
@import url("./loading.css");
/* -------- Alert --------- */
@import url("./alert.css");
