:root {
  --primary-color: #ab915d;
  --light-color: #fdfdf7;
  --lightmiddle-color: #ece9d2;
  --lightdark-color: #e7e0b9;
  --success-color: #895602;
  --fontdark-color: #333;

  --darklight-color: #1e3957;
  --darkmiddle-color: #0a2749;
  --dark-color: #0f1f2f;

  --error-color: rgb(214, 10, 10);
  --done-color: rgb(9, 158, 54);
  --max-width: 1140px;

  --nav-size: 60px;
  --border: 1px solid var(--light-color);
  --border-radius: 4px;
  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--fontdark-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--fontdark-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* -------- Global --------- */
@import url("./global.css");
/* -------- Navbar --------- */
@import url("./navbar.css");
/* -------- Auth --------- */
@import url("./auth.css");
/* -------- Loading --------- */
@import url("./loading.css");
/* -------- Alert --------- */
@import url("./alert.css");
/* -------- Home --------- */
@import url("./home.css");
/* -------- Profile --------- */
@import url("./profile.css");
/* -------- Footer --------- */
@import url("./footer.css");
/* -------- Not Found --------- */
@import url("./notFound.css");
