:root {
  --primary-color: #ab915d;
  --light-color: #fdfdf7;
  --lightmiddle-color: #ece9d2;
  --lightdark-color: #e7e0b9;
  --lightdark-10-color: rgba(231, 224, 185, 0.1);
  --lightdark-30-color: rgba(231, 224, 185, 0.3);
  --lightdark-50-color: rgba(231, 224, 185, 0.5);
  --success-color: #895602;
  --fontdark-color: #333;

  --darklight-color: #1e3957;
  --darkmiddle-color: #0a2749;
  --dark-color: #0f1f2f;

  /* --error-color: rgba(47, 15, 15, 0.9); */
  --error-color: rgb(214, 10, 10);
  /* --done-color: rgba(24, 47, 15, 0.9); */
  --done-color: rgb(9, 158, 54);
  --max-width: 1140px;

  --nav-size: 60px;
  --border: 1px solid var(--light-color);
  --border-radius: 4px;
  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--fontdark-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--fontdark-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* -------- Global --------- */
@import url("./global.css");
/* -------- Navbar --------- */
@import url("./navbar.css");
/* -------- Auth --------- */
@import url("./auth.css");
/* -------- Loading --------- */
@import url("./loading.css");
/* -------- Alert --------- */
@import url("./alert.css");
/* -------- Button --------- */
@import url("./button.css");
/* -------- Home --------- */
@import url("./home.css");
/* -------- Profile --------- */
@import url("./profile.css");
/* -------- Reminder --------- */
@import url("./reminder.css");
/* -------- Input --------- */
@import url("./input.css");
/* -------- Timeline --------- */
@import url("./timeline.css");
/* -------- Items --------- */
@import url("./items.css");
/* -------- Tabs --------- */
@import url("./tabs.css");
/* -------- Footer --------- */
@import url("./footer.css");
/* -------- Not Found --------- */
@import url("./notFound.css");