.items,
.notes {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.goal-plan {
  margin-top: 24px;
}

.items-zero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px - 112px - 124px);
}

.items-message,
.items p {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.items-message span {
  display: block;
  color: var(--primary-color);
}

.items-message a,
.items-message a:hover,
.items-message a:visited {
  color: var(--lightdark-color);
  cursor: pointer;
  text-decoration: none;
}

.items p {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 24px;
}

.items p:not(:first-child) {
  margin-top: 16px;
}

.items-number {
  font-size: 24px;
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding: 1px 12px;
  border-radius: var(--border-radius);
}

.item {
  max-width: 810px;
  width: 100%;
}

.item-select {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.item-select option {
  color: var(--lightdark-color);
  background: var(--dark-color);
}

.item-goal {
  border-radius: var(--border-radius);
  border: 1px solid var(--lightdark-30-color);
  padding: 8px 16px;
  margin-bottom: 8px;
}

.item-goal .item-options {
  height: auto;
}

.item-value,
.item-title {
  font-size: 24px;
  font-weight: 500;
  overflow-wrap: break-word;
  /* list-style-type: circle; */
  /* padding-right: 64px; */
}

.item-title {
  color: var(--primary-color);
}

.item-goal .item-options .btn,
.item-plan .btn {
  opacity: 0.7;
}

.item-goal .item-options .btn:hover,
.item-plan .btn:hover {
  opacity: 1;
}

.progress {
  width: 100%;
  position: relative;
}

.progress-bar {
  height: 8px;
  width: calc(100% - 54px);
  background-color: var(--lightdark-30-color);
  border-radius: 50px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.progress-filler {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: inherit;
}

.item-completeness {
  position: absolute;
  color: var(--primary-color);
  font-weight: bold;
  right: 8px;
  top: 70%;
  transform: translateY(-60%);
  transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.item-noplan,
.item-plan,
.item-day {
  display: flex;
  justify-content: space-between;
}

.item-plan {
  border-bottom: 1px solid var(--lightdark-30-color);
}

.item-plan .text,
.item-noplan .text {
  width: 70%;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 500;
  color: var(--lightdark-color);
  overflow-wrap: break-word;
}

.item-noplan .text {
  font-size: 24px;
  color: var(--primary-color);
}

.item-plan .plan-options .completeness {
  margin-right: 8px;
  color: var(--lightdark-color);
  opacity: 0.5;
}

.item-plan .btn {
  margin-bottom: 8px;
}

.item-plan .btn:last-child {
  margin-right: 14px;
}

.notes-caption {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 24px;
}

.note {
  max-width: 810px;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  overflow-wrap: break-word;
  margin-bottom: 16px;
}

.note-title {
  font-weight: bold;
  padding-bottom: 4px;
}
