.items-zero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px - 112px - 80px);
}

.items-message {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 80px;
}

.items-number {
  font-size: 24px;
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.add {
  position: fixed;
  height: 112px;
  bottom: 10px;
  max-width: 810px;
  width: 100%;
  margin-left: 330px;
}

.add-item {
  position: relative;
}

.item-input {
  width: 100%;
  height: 40px;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: var(--lightdark-color);
  padding: 16px 14px;
  padding-right: 64px;
  border: none;
  outline: none;
  user-select: text;
  /* border-bottom: 1px solid var(--lightdark-color); */
  transition: border 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.add-item small {
  position: absolute;
  color: var(--lightdark-color);
  top: 60%;
  right: 5px;
  transform: translateY(-60%);
  opacity: 0.5;
  transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.item-options {
  width: 100%;
  height: 40px;
  padding: 0 14px;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  display: flex;
  justify-content: end;
}
