.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(15, 31, 47, 0.5);
  color: var(--lightdark-color);
  top: 0;
  left: 0;
  z-index: 99;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.loading svg {
  font-size: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* animation: text 1s ease-in-out infinite; */
  animation: upDown 1s ease-in-out infinite;
}

@keyframes text {
  50% {
    opacity: 0.1;
  }
}

.loader-circle,
.loader-pointer,
.loader-line {
  fill: none;
  stroke-width: 5px;
  stroke: #4d6565;
}

.loader-center {
  fill: #4d6565;
}

.loader-pointer {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

.loader-line {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
  }
  to {
    -moz-transform: rotate(360deg);
    -moz-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

/* .loading svg i {
  color: var(--lightdark-color);
}

.arrow {
  transform-origin: 0% 50%;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
} */
