.navbar {
  display: flex;
  align-items: center;
  height: var(--nav-size);
  background: var(--dark-color);
  color: var(--lightdark-color);
  border-top: 1px solid var(--success-color);
  padding: 0 2rem;
  /* opacity: 0.9; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-wrapper {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand a {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  color: var(--primary-color);
}

.navbar-logo {
  height: 1.5rem;
  width: 1.5rem;
}

.navbar-search {
  display: block;
  position: relative;
  width: 40%;
  margin-right: 1.5rem;
}

.search-form,
.search-button {
  border: 0;
}

.search-form {
  display: block;
  width: 100%;
  height: 2.1rem;
  outline: 0;
  margin: 0;
  margin-right: 0.5rem;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--lightmiddle-color);
  /* background-clip: padding-box; */
  border: var(--border);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius);
  transition: all 0.15s ease-in-out;
  transition-property: width, border-radius;
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  /* position: relative; */
}

.search-form:focus-within {
  border: none;
  outline: 2px solid var(--primary-color);
}

.search-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 2.1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--lightdark-color);
  background: var(--primary-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  cursor: pointer;
  outline: 2px solid var(--primary-color);
}

.search-form:not(:-moz-placeholder) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  width: calc(100% - 6rem);
}
.search-form:not(:-ms-input-placeholder) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  width: calc(100% - 6rem);
}
.search-form:not(:placeholder-shown) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  width: calc(100% - 6rem);
}

.search-form:not(:-moz-placeholder) + .search-button {
  display: block;
}
.search-form:not(:-ms-input-placeholder) + .search-button {
  display: block;
}
.search-form:not(:placeholder-shown) + .search-button {
  display: block;
}

.navbar-auth {
  display: none !important;
}

.navbar-nav {
  /* min-width: 40%; */
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: auto;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.nav-item {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-user {
  width: 30px;
  height: 30px;
  object-fit: cover;
  transform: translateY(3px) translateX(-3px);
  border-radius: 50%;
}

.nav-active {
  font-weight: bold;
}

.nav-hidden {
  display: none;
}

.nav-link,
.dropdown-toggle,
.mobile-link {
  display: block;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--lightdark-color);
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.dropdown-toggle {
  padding-right: 0;
}

.dropdown-toggle i {
  transform: translateY(-5px);
}

.nav-link:hover,
.navbar-toggler:hover {
  color: var(--primary-color) !important;
}

.mobile {
  display: none;
}

.navbar-toggler {
  color: var(--lightdark-color);
  background-color: transparent;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.dropdown-toggle:hover {
  color: var(--primary-color);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  width: 230px;
  transform: translateX(-70%);
  background: var(--darklight-color);
  /* border: var(--border); */
  border-radius: var(--border-radius);
  padding: 4px 0;
  overflow: hidden;
  z-index: 1000;
  text-align: left;
  list-style: none;
  box-shadow: 0px 0px 0px 1px rgba(15, 31, 47, 0.08),
    0px 4px 4px rgba(15, 31, 47, 0.3);
  /* background-clip: padding-box; */
  transition: transform 0.15s ease-in-out;
}

.dropdown-item {
  /* height: 50px; */
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.75rem 1rem;
  color: var(--lightdark-color);
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-item:hover {
  color: var(--primary-color);
}

.dropdown-divider {
  margin: 0.25rem 0;
  overflow: hidden;
  border: 0;
  border-top: var(--border);
  opacity: 0.25;
}

@media (max-width: 805px) {
  .navbar {
    padding: 0;
  }
  .navbar-wrapper {
    flex-wrap: wrap;
  }
  .navbar-brand {
    /* order: 1; */
    padding-left: 1rem;
  }
  .navbar-nav {
    order: 2;
    margin: 0;
  }
  .nav-link {
    padding: 0 0.5rem;
  }
  .navbar-search {
    display: none;
    flex: 100%;
    order: 3;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    transition: all 0.15s ease-in-out;
  }
  .search-form {
    width: 100%;
  }
  .search-button {
    top: 0.75rem;
    right: 1rem;
  }

  .large {
    display: none;
  }
  .mobile {
    display: block;
  }

  .mobile-link {
    margin-right: 1rem;
  }

  .dropdown-toggle i {
    transform: translateY(-5px);
    margin-right: 1.5rem;
  }
}
