.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  text-align: center;
}

.notFound h2 {
  color: var(--darklight-color);
  line-height: 2;
}

.notFound h2 .far {
  font-size: 1.4rem;
}

.notFound .msg {
  font-size: 1.4rem;
}

.notFound .msg:last-child {
  margin-top: 2rem;
}

.notFound .msg a {
  margin-top: 6rem;
  padding: 0 1rem;
}
