.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  line-height: 2;
}

.notFound h2 {
  color: var(--darklight-color);
}

.notFound h2 .far {
  font-size: 1.4rem;
}

.notFound .msg {
  font-size: 1.2rem;
}

.notFound p {
  font-size: 1.2rem;
}
