.profile {
  width: 100%;
  padding-top: 16px;
  display: flex;
  position: relative;
}

.profile-info {
  height: calc(100vh - var(--nav-size) - 16px);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  overflow: hidden;
  color: var(--lightdark-color);
  background-color: transparent;
  margin-bottom: 16px;
}

.info-card {
  max-width: 370px;
  margin: auto;
  text-align: center;
}

.info-card img {
  /* width: 370px;
  height: 303px; */
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
