.profile {
  width: 100%;
  padding-top: 16px;
  display: flex;
  position: relative;
}

.profile-info {
  height: calc(100vh - var(--nav-size) - 16px);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  overflow: hidden;
  color: var(--lightdark-color);
  background-color: transparent;
  margin-bottom: 16px;
}

.info-card {
  /* flex: 1; */
  position: relative;
  margin: 32px;
}

.info-card > img {
  width: 169px;
  height: 200px;
  /* width: 272px;
  height: 320px; */
  object-fit: cover;
  /* right: 8rem;
  top: 2rem; */
}

.info-card > :nth-child(1) {
  position: absolute;
  width: 169px;
  height: 200px;
  border: var(--border);
  top: -16px;
  left: -16px;
}
