.reminder {
  width: 100%;
  display: flex;
  align-items: center;
}

.reminder-time {
  text-align: center;
  margin-right: 64px;
}

.reminder-time p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.reminder-time p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.2;
}

.reminder-message {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--dark-color);
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

/* @supports (-webkit-text-stroke: 1px var(--primary-color)) {
  .reminder-message {
    -webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: var(--dark-color);
    text-shadow: none;
  }
} */
