.reminder {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.reminder-time {
  text-align: center;
  min-width: 188px;
  margin-right: 32px;
}

.reminder-time p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.reminder-time p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.2;
}

.countdown-days {
  font-size: 1.4em;
  display: block;
  line-height: 1;
  margin-bottom: 2px;
}

.reminder-message {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--dark-color);
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

@media (max-width: 768px) {
  .reminder {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .reminder-time {
    min-width: unset;
    margin-right: 0;
    text-align: left;
  }

  .reminder-message {
    font-size: 18px;
  }
}