.tab {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: transparent;
  outline: 0;
  margin: 0;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.25;
  /* text-transform: uppercase; */
  color: var(--lightdark-50-color);
  min-width: 90px;
  position: relative;
  flex-shrink: 1;
  padding: 8px 2px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid var(--lightdark-30-color);
  border-bottom-color: var(--lightdark-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
