.timeline {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline .step {
  position: relative;
  margin: 0;
  padding-bottom: 16px;
  padding-left: 16px;
  list-style-type: none;
}

.timeline .step:not(:last-child)::before {
  background: var(--lightdark-30-color);
  width: 1px;
  content: "";
  position: absolute;
  top: 17px;
  bottom: -4px;
  left: 4px;
}

.timeline .step .point {
  margin-left: -22px;
  float: left;
  padding-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--lightdark-30-color);
}
